
.container{
	text-align: center;
	border: 1px solid #efefef;
	margin-top: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
}


body{
	background-image: url(../images/background.png);
	color: black;
	font-family: sans-serif;
	margin: 0px;

}